@charset "UTF-8";
/* CSS Document */


/* 見出し */
.section-title-jp {
  font-weight: 500;
  font-size:13px;
  letter-spacing: 0.08em;
}
@media(max-width:1000px) {
  .section-title-jp {
    padding-top: 100px;
  }
}
.section-title-en {
  margin-bottom: 50px;
  font-style:italic;
  font-weight:700;
  font-size:50px;
  font-family:"Cormorant Garamond";
  letter-spacing:0.02em;
  opacity:0.5;
}
@media (max-width:1000px) {
  .section-title-en{
    padding-top: 20px;
    font-size: 35px;
    letter-spacing:normal;
  }
}
@media (max-width:1000px) {
  .safety {
    padding-top: 20px;
    font-size: 35px;
    letter-spacing:-2px;
  }
}
.section-title-en span::after {
  content: '/';
  font-size: 45px;
}
@media (max-width:1000px) {
  .section-title-en span::after {
    font-size: 30px;
  }
}

.section-text p {
  width:330px;
  height:auto;
  font-weight: 300;
  line-height: 1.8;
}

/* 共通セクションリンク */
.section-link {
  display: block;
  width: 330px;
  padding: 20px 0;
  margin-top: 50px;
  border-top: #DEDEDE solid 1px;
  border-right: transparent solid 1px;
  border-bottom: #DEDEDE solid 1px;
  border-left: transparent solid 1px;
  color: #DEDEDE;
  font-weight:300;
  text-align: center;
  text-decoration:none;
  transition: .5s;
}
@media (max-width:1000px) {
  .section-link {
    width: 100%;
  }
  .section-link .concept-sp {
    padding-bottom: 200px;
  }
}
.section-link:hover {
  border: 1px solid #81071F;
  color: #DEDEDE;
  background: #81071F;
}

.section-link span {
  display: inline-block;
  align-content: center;
  position: relative;
  top: 4px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:#81071F;
}

.section-link span::after {
  content: ' ';
  display: block;
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left:-3px;
  width: 0.5em;
  height: 0.5em;
  margin: auto;
  border-top: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
  transform: rotate(45deg);
}


/* メンビジュアル */
.mv {
  width: 100%;
  min-height: 780px;
  background-image: image-set(url("../images/top/mv-pc.jpg")1x, url("../images/top/mv-pc@2x.jpg")2x);
  background-image: webkit-image-set(url("../images/top/mv-pc.jpg")1x, url("../images/top/mv-pc@2x.jpg")2x);
  background-position: 0 40%;
  background-size: cover; 
}
@media (max-width:800px) {
  .mv {
    background-image: image-set(url("../images/top/mv-sp.jpg")1x, url("../images/top/mv-sp@2x.jpg")2x);
    background-image: webkit-image-set(url("../images/top/mv-sp.jpg")1x, url("../images/top/mv-sp@2x.jpg")2x);
    min-height: 850px;
  }
  
}
.copy {
  padding:165px 0 79px 0;
  margin-left: 50px; 
}
@media (max-width:800px) {
  .copy{
    width: 192px;
    margin-left: 20px; 
    padding: 100px 0 230px 0;
  }
}
.mv h3 {
  margin-bottom: -7px;
  font-weight:500;
  font-size:13px;
  letter-spacing: 0.08em;
  
}
.mv h4 {
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  font-family:"Cormorant Garamond";
  opacity: 0.5;
}

/* お知らせ */
.news_title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  margin-left: 30px;
  margin-bottom: -3px;
}
@media (max-width:800px) {
  .news_title {
    margin-left: 0px;
  }
}
.news time {
  font-size: 13px;
  letter-spacing: 0.1em;
}

.news_list-item {
  width:fit-content;
  color: #020917;
  font-weight: 700;
  font-size: 15px;
  
}

@media (max-width:800px) {
  .news_list-item  {
    font-size: 13px;
  }
}
.news_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.news {
  display: flex;
  gap:40px;
  justify-content: flex-start;
  align-items: center;
  min-width: 610px;
  width:fit-content;
  margin-left: 50px;
  min-height: 60px;
  color: #020917;
  background: rgba(222,222,222,0.6);
}

.news_link {
  max-width: 170px;
  width:100%;
  padding: 8px;
  margin-right: 30px;
  border-top: #020917 solid 1px;
  border-bottom: #020917 solid 1px;
  color: #020917;
  font-weight: 300;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  transition: .5s;
}

.news_link span {
  display: inline-block;
  align-content: center;
  position: relative;
  top: 4px;
  left: 10px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background:#81071F;
}

.news_link span::after {
  content: ' ';
  display: block;
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left:-3px;
  width: 0.5em;
  height: 0.5em;
  margin: auto;
  border-top: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
  transform: rotate(45deg);
}

.news_link:hover {
  border: 1px solid #81071F;
  color: #DEDEDE;
  background: #81071F;
}

@media (max-width:800px) {
  .news{
    gap:12px;
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-start;
    min-width:250px;
    padding: 20px;
    
  }
  .news_link {
    max-width: none;
  }
}

/* コンセプト */
.concept {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-image: image-set(url(../images/top/concept-pc.jpg) 1x, url(../images/top/concept-pc@2x.jpg) 2x);
  background-image: webkit-image-set(url("../images/top/concept-pc.jpg") 1x, url("../images/top/concept-pc@2x.jpg") 2x);
  background-position: 0;
  background-size: cover;
  background-repeat: repeat-x;
  position: relative;
  
}
.concept-gradation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
 .concept-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 330px;
  width: 100%;
  margin-top: 100px;
  text-align: left;
  margin: auto;
   
}

.concept p {
  width:330px;
  height:auto;
  padding-bottom: 20px;
  font-weight: 300;
  line-height: 1.8;
}

.concept-img-right {
  height: 100%;
}
.concept-img-right-sp {
  display: none;
}
.concept-img-left {
  height: 100%;
}

.concept-sp-car {
  display: none;
}
@media (max-width:1200px) {
  .concept-img-left {
    display: none;
  }
}
@media (max-width:800px){
  .concept-img-left {
    display: block;
  }
  .concept-img-right {
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  }
   .concept {
    width: 100%;
  }
  .concept-img-left{
      clip-path: polygon(0 0, 0% 68%, 100% 0);
      width: 100%;
      height: 100%;
      min-width: 800px;
      object-fit: cover;
      overflow: hidden;
  }
  .concept p {
    width: 100%;
  }
  .concept-text {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
    max-width: none;
    margin-top: 0px;
    position: absolute;
    top:0;
    right:0;
    left:0;
    margin: auto;
    z-index: 1;
  }
  .concept-sp-car {
    display: flex;
  }
  .concept-sp {
    display: flex;
    flex-direction: column;
  }
  .concept-sp-car {
    width: 100%;
  }
  .concept-img-right {
    display: none;
  }
  .concept-img-right-sp {
    display: block;
    width:100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 100px;
    margin-top: 50px;
  }
}
@media (max-width:765px) {
  .concept {
    min-height: 620px;
}
}
@media (max-width:685px) {
  .concept-img-left{
    clip-path: polygon(0 0, 0% 81%, 78% 0);
  }
}
/* 外装・内装 */
.exterior  {
  height:auto;
  margin: 100px 0;
  background-image: image-set(url("../images/top/exterior.png")1x,url("../images/top/exterior@2x.png")2x);
    background-image: webkit-image-set(url("../images/top/exterior.png")1x,url("../images/top/exterior@2x.png")2x);
  background-size:cover;
}

.exterior img {
  display: none;
}

@media (max-width:800px) {
  .exterior {
    background-image:none;
    margin: 0;
    margin-top: 90%;
  }
  .exterior img {
    display: block;
  }
}
/* 機能 */
.function {
  height:auto;
  margin: 100px 0;
  background-image: image-set(url("../images/top/function-pc.png")1x,url("../images/top/function-pc@2x.png")2x);
    background-image: webkit-image-set(url("../images/top/function-pc.png")1x,url("../images/top/function-pc@2x.png")2x);
  background-size:cover;
}
.function img {
  display: none;
}
@media (max-width:800px) {
  .function {
    margin: 0;
    background-image: none;
  }
  .function img {
  display: block;
}
}
/*　安全性能　*/
.safe {
  height:auto;
  margin: 100px 0;
  background-image: image-set(url("../images/top/safe-pc.png")1x,url("../images/top/safe-pc@2x.png")2x);
    background-image: webkit-image-set(url("../images/top/safe-pc.png")1x,url("../images/top/safe-pc@2x.png")2x);
  background-size:cover;
}
.safe img {
  display: none;
}
@media (max-width:800px) {
  .safe {
    margin: 0;
    background-image:none;
  }
  .safe img {
  display: block;
}
}
/* 外装  安全性能　共通*/
.section-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: left;
  margin: 100px 0;
  padding: 100px 0;
}

@media (max-width:1000px){
    .section-text {
    margin: 0px;
  }
}

/* 機能 */
.section-text-function {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width:fit-content;
  text-align: left;
  margin: 100px 0  100px auto;
  padding: 100px 0;
}
.section-text-function p {
  max-width:330px;
  width: 100%;
  height:auto;
  font-weight: 300;
  line-height: 1.8;
}
@media (max-width:1000px) {
  .section-text {
    padding: 0;
    margin:  0;
    gap:0px;
    font-size: 14px;
  }
  .section-text-function {
    padding: 0;
    gap:0px;
    width: 100%;
    font-size: 14px;
  }
  .section-text-function p {
    max-width:100%;
  }
  }
  @media (max-width:800px){
    .section-text-function{
    padding: 0;
    margin:  0;
    gap:0px;
    font-size: 14px;
    }
    .section-text p {
    width: 100%;
    }
  }
/*　　オプション　*/
.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media(max-width:800px) {
  .option {
    align-items: flex-start;
    gap: 0px;
  }
}
/* アフターサポート */
.option-list-item-support {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  background-image: image-set(url("../images/top/after-support_img.jpg") 1x,url("../images/top/after-support_img@2x.jpg") 2x);
  background-image: webkit-image-set(url("../images/top/after-support_img.jpg") 1x,url("../images/top/after-support_img@2x.jpg") 2x);
  background-size: 100%;
  width: 100%;
  max-width: 350px;
  height: 350px;
  padding: 40px;
}
.option-list-item-support h3 {
  font-weight: bold;
  font-size: 19px;
}
.option-list-item-support p {
  width: 290px;
  height: 290px;
  margin-top:20px;
  letter-spacing:0.1em;
  line-height: 2.3;
  text-align: start;
}

/*　保証　*/
.option-list-item-guarantee {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  background-image:image-set(url("../images/top/guarantee_img.jpg") 1x,url("../images/top/guarantee_img@2x.jpg") 2x);
  background-image: webkit-image-set(url("../images/top/guarantee_img.jpg") 1x,url("../images/top/guarantee_img@2x.jpg") 2x);
  width:100%;
  max-width: 350px;
  height: 350px;
  padding: 40px;
}
.option-list-item-guarantee h3 {
  font-weight: bold;
  font-size: 19px;
}
.option-list-item-guarantee p {
  width: 290px;
  height: 290px;
  margin-top:20px;
  letter-spacing:0.1em;
  line-height: 2.3;
  text-align: start;
}

/* お支払いプラン */
.option-list-item-payment {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  background-image:image-set(url("../images/top/payment_img.jpg") 1x,url("../images/top/payment_img@2x.jpg") 2x);
  background-image: webkit-image-set(url("../images/top/payment_img.jpg") 1x,url("../images/top/payment_img@2x.jpg") 2x);
  width:100%;
  max-width: 350px;
  height: 350px;
  padding: 40px;
}
.option-list-item-payment h3 {
  font-weight: bold;
  font-size: 19px;
}
.option-list-item-payment p {
  width: 290px;
  height: 290px;
  margin-top:20px;
  letter-spacing:0.1em;
  line-height: 2.3;
  text-align: start;
}

.option-list {
  display: flex;
  gap:50px;
  flex-wrap: wrap;
  justify-content: center;
}

@media(max-width:800px) {
  .option-list {
    gap: 20px;
    justify-content: flex-start;
  }
    .option-list-item-support {
    align-items: flex-start;
    max-width: none;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .option-list-item-support p {
    width: auto;
  }
  .option-list-item-guarantee {
    align-items: flex-start;
    max-width: none;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .option-list-item-guarantee p{
    width: auto;
  }
  .option-list-item-payment {
    align-items: flex-start;
    max-width: none;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .option-list-item-payment p {
    width: auto;
  }
  

}

/* グレード */
.grade-title {
  margin-top: 200px;
  text-align: center;
}
.grade-text {
  display: flex;
  flex-direction: column;
  gap:20px;
}
.grade-text h3 {
  font-style:italic;
  font-weight:700;
  font-size:50px;
  font-family:"Cormorant Garamond";
  letter-spacing:0.025em;
}
.grade-text h4 {
  margin-top: -22px;
  font-weight: 500;
  font-size: 17px;
}
.grade-text p {
  max-width: 330px;
  width: 100%;
  font-size: 14px;
  padding-bottom: 0px;
  line-height:1.7;
}
.grade-text small {
  font-size: 13px;
}
.proce {
  display: flex;
  gap:5px;
  margin-bottom: 10px;
}
.proce-item {
  font-weight:700;
  font-size: 33px;
  margin-top: -20px;
}
.yen {
  font-size: 16px;
}
.section-grade {
  display: flex;
  justify-content: flex-start;
  gap:50px;
  margin-bottom: 200px;
}
.section-grade-left {
  display: flex;
  justify-content: flex-end;
  gap:50px;
  margin-bottom: 200px; 
}

.grade img {
  height: 100%;
}

@media (max-width:1100px){
  .grade-title {
    margin-top: 0;
    text-align: left;
  }
  .section-grade{
    flex-direction: column;
    gap:40px;
  }
  .grade-text h3 {
  font-size:40px;
  }
  .grade-text h4 {
  margin-top: -15px;
  font-size: 12px;
  }
  .grade-text p {
    font-size:13px;
    max-width: none;
  }
  .proce-item {
    font-size: 30px;
  }
  .yen {
  font-size: 14px;
  }
  .proce {
    margin-bottom: -20px;
  }
  .section-grade-left {
  flex-direction: column-reverse;
  gap:40px;
  justify-content: flex-start;
  margin-bottom: 200px;
  }
  .section-grade {
    margin-bottom: 100px;
  }
  .hfl {
    margin-bottom: 0px;
  }
}


/* ギャラリー */
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-title {
  text-align: center;
}

.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);  
grid-column-gap: 50px;
grid-row-gap: 50px;
}
.div1 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div1:hover {
  opacity: 1;
}
.div2 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div2:hover {
  opacity: 1;
}
.div3 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div3:hover {
  opacity: 1;
}
.div4 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div4:hover {
  opacity: 1;
}
.div5 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div5:hover {
  opacity: 1;
}
.div6 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div6:hover {
  opacity: 1;
}
.div7 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div7:hover {
  opacity: 1;
}
.div8 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div8:hover {
  opacity: 1;
}
.gallery-link {
  margin-top: 50px;
  margin-bottom: 200px;
}
@media(max-width:1030px){
  .parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  }
  .div1 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div1:hover {
  opacity: 1;
}
.div2 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div2:hover {
  opacity: 1;
}
.div3 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div3:hover {
  opacity: 1;
}
.div4 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div4:hover {
  opacity: 1;
}
.div5 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div5:hover {
  opacity: 1;
}
.div6 { 
  background-color: #2E2E2E;
  opacity: 0.5;
  transition: 0.3s;
}
.div6:hover {
  opacity: 1;
}
  .div7{
    display: none;
  }
  .div8 {
    display: none;
  }
}
@media(max-width:800px){
  .parent {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .div5{
    display: none;
  }
  .div6 {
    display: none;
  }
  .gallery-link{
    margin-bottom: 100px;
  }
  
}